@font-face {
  font-family: "cp"; /* Project id 5094577 */
  src: url('//at.alicdn.com/t/c/font_5094577_rykzax1qt7l.woff2?t=1768492770874') format('woff2'),
  url('//at.alicdn.com/t/c/font_5094577_rykzax1qt7l.woff?t=1768492770874') format('woff'),
  url('//at.alicdn.com/t/c/font_5094577_rykzax1qt7l.ttf?t=1768492770874') format('truetype');
}


[class*="cp-"] {
  font-family: "cp" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cp-shengyuliuliang:before {
  content: "\e69f";
}

.cp-dian:before {
  content: "\e600";
}

.cp-shangcheng11:before {
  content: "\e64c";
}

.cp-xuexi:before {
  content: "\e7f1";
}

.cp-xiaoxi2:before {
  content: "\e603";
}

.cp-wode2:before {
  content: "\e602";
}

.cp-print-model:before {
  content: "\e641";
}

.cp-a-3Ddayin111:before {
  content: "\e652";
}

.cp-a-3Ddayin112:before {
  content: "\e659";
}

.cp-shequ2:before {
  content: "\e601";
}

.cp-d-printer:before {
  content: "\e653";
}

.cp-coffee-machine:before {
  content: "\e69b";
}

.cp-a-3Ddayinji:before {
  content: "\e633";
}

.cp-shezhi1:before {
  content: "\e6cf";
}

.cp-a-3d:before {
  content: "\e61f";
}

.cp-yibiaopan-2:before {
  content: "\e634";
}

.cp-qupiao:before {
  content: "\e8d8";
}

.cp-saoyisao:before {
  content: "\e8d9";
}

.cp-rili:before {
  content: "\e8da";
}

.cp-pinglun:before {
  content: "\e8db";
}

.cp-qinghuiyuan:before {
  content: "\e8dc";
}

.cp-riqian:before {
  content: "\e8dd";
}

.cp-shandian:before {
  content: "\e8de";
}

.cp-shaixuan:before {
  content: "\e8df";
}

.cp-shangquan:before {
  content: "\e8e0";
}

.cp-shanchu:before {
  content: "\e8e1";
}

.cp-shezhi:before {
  content: "\e8e2";
}

.cp-shangchuan:before {
  content: "\e8e3";
}

.cp-shequ:before {
  content: "\e8e4";
}

.cp-shengyinguanbi:before {
  content: "\e8e5";
}

.cp-shibai:before {
  content: "\e8e6";
}

.cp-shijian:before {
  content: "\e8e7";
}

.cp-shengyin:before {
  content: "\e8e8";
}

.cp-shoucang:before {
  content: "\e8e9";
}

.cp-shouji:before {
  content: "\e8ea";
}

.cp-shouye:before {
  content: "\e8eb";
}

.cp-shuju:before {
  content: "\e8ec";
}

.cp-shuaxin:before {
  content: "\e8ed";
}

.cp-sousuo:before {
  content: "\e8ee";
}

.cp-tanhao:before {
  content: "\e8ef";
}

.cp-taolunqu:before {
  content: "\e8f0";
}

.cp-tianjiayouhuiquan:before {
  content: "\e8f1";
}

.cp-tishi:before {
  content: "\e8f2";
}

.cp-tupian:before {
  content: "\e8f3";
}

.cp-tuipiao:before {
  content: "\e8f4";
}

.cp-weixuanzhong:before {
  content: "\e8f5";
}

.cp-weibo:before {
  content: "\e8f6";
}

.cp-wenjuan:before {
  content: "\e8f7";
}

.cp-wode:before {
  content: "\e8f8";
}

.cp-weixin:before {
  content: "\e8f9";
}

.cp-wodeguanzhu:before {
  content: "\e8fa";
}

.cp-xiami:before {
  content: "\e8fb";
}

.cp-xiangkan:before {
  content: "\e8fc";
}

.cp-xiangji:before {
  content: "\e8fd";
}

.cp-xiaoxi:before {
  content: "\e8fe";
}

.cp-xiazai:before {
  content: "\e8ff";
}

.cp-xiaojuchang:before {
  content: "\e900";
}

.cp-xiaoshi:before {
  content: "\e901";
}

.cp-xiaoxizhongxin:before {
  content: "\e902";
}

.cp-yinhangka:before {
  content: "\e903";
}

.cp-yanjing:before {
  content: "\e904";
}

.cp-yingchengka:before {
  content: "\e905";
}

.cp-yixiangkan:before {
  content: "\e906";
}

.cp-yingpingmoban:before {
  content: "\e907";
}

.cp-yanchu:before {
  content: "\e908";
}

.cp-xiaomi:before {
  content: "\e909";
}

.cp-yingyuan:before {
  content: "\e90a";
}

.cp-zengjia:before {
  content: "\e90b";
}

.cp-yuyin:before {
  content: "\e90c";
}

.cp-youhuiquan:before {
  content: "\e90d";
}

.cp-WIFI:before {
  content: "\e90e";
}

.cp-zhibo:before {
  content: "\e90f";
}

.cp-youkuhuiyuan:before {
  content: "\e910";
}

.cp-yulebao:before {
  content: "\e911";
}

.cp-zhiwen:before {
  content: "\e912";
}

.cp-aixin1:before {
  content: "\e913";
}

.cp-chenggong1:before {
  content: "\e914";
}

.cp-dianzan1:before {
  content: "\e915";
}

.cp-dianhua1:before {
  content: "\e916";
}

.cp-bangzhu1:before {
  content: "\e917";
}

.cp-dianyingpiao1:before {
  content: "\e918";
}

.cp-faxian1:before {
  content: "\e919";
}

.cp-dingwei1:before {
  content: "\e91a";
}

.cp-gonggao:before {
  content: "\e91b";
}

.cp-huati1:before {
  content: "\e91c";
}

.cp-jianshao1:before {
  content: "\e91d";
}

.cp-huiyuan1:before {
  content: "\e91e";
}

.cp-pinglun1:before {
  content: "\e91f";
}

.cp-shequ1:before {
  content: "\e920";
}

.cp-shibai1:before {
  content: "\e921";
}

.cp-shijian1:before {
  content: "\e922";
}

.cp-shandian1:before {
  content: "\e923";
}

.cp-wode1:before {
  content: "\e924";
}

.cp-shouye1:before {
  content: "\e925";
}

.cp-shouji1:before {
  content: "\e926";
}

.cp-tanhao1:before {
  content: "\e927";
}

.cp-shoucang1:before {
  content: "\e928";
}

.cp-shuju1:before {
  content: "\e929";
}

.cp-wenda:before {
  content: "\e92a";
}

.cp-yanjing1:before {
  content: "\e92b";
}

.cp-yingchengka1:before {
  content: "\e92c";
}

.cp-xiangji1:before {
  content: "\e92d";
}

.cp-yingyuan1:before {
  content: "\e92e";
}

.cp-yinhangyouhui:before {
  content: "\e92f";
}

.cp-xiaoshi1:before {
  content: "\e930";
}

.cp-yanchu1:before {
  content: "\e931";
}

.cp-zengjia1:before {
  content: "\e932";
}

.cp-dianying1:before {
  content: "\e933";
}

.cp-youhuiquan1:before {
  content: "\e934";
}

.cp-remen:before {
  content: "\e935";
}

.cp-chuangzuo1:before {
  content: "\e936";
}

.cp-aixin:before {
  content: "\e8ab";
}

.cp-bianji:before {
  content: "\e8ac";
}

.cp-Dyanjing:before {
  content: "\e8ad";
}

.cp-caidan:before {
  content: "\e8ae";
}

.cp-anquan:before {
  content: "\e8af";
}

.cp-bangzhu:before {
  content: "\e8b0";
}

.cp-buganxingqu:before {
  content: "\e8b1";
}

.cp-bofangjilu:before {
  content: "\e8b2";
}

.cp-chuangzuo:before {
  content: "\e8b3";
}

.cp-chenggong:before {
  content: "\e8b4";
}

.cp-ceshi:before {
  content: "\e8b5";
}

.cp-dianhua:before {
  content: "\e8b6";
}

.cp-dianzan:before {
  content: "\e8b7";
}

.cp-dingwei:before {
  content: "\e8b8";
}

.cp-diantong_guan:before {
  content: "\e8b9";
}

.cp-dianying:before {
  content: "\e8ba";
}

.cp-ditu:before {
  content: "\e8bb";
}

.cp-diantong_kai:before {
  content: "\e8bc";
}

.cp-dianyingpiao:before {
  content: "\e8bd";
}

.cp-dingdan:before {
  content: "\e8be";
}

.cp-gengduo:before {
  content: "\e8bf";
}

.cp-fanbei:before {
  content: "\e8c0";
}

.cp-faxian:before {
  content: "\e8c1";
}

.cp-ertongpiao:before {
  content: "\e8c2";
}

.cp-gongyi:before {
  content: "\e8c3";
}

.cp-hongbao:before {
  content: "\e8c4";
}

.cp-fuzhi:before {
  content: "\e8c5";
}

.cp-fenxiang:before {
  content: "\e8c6";
}

.cp-huatifuhao:before {
  content: "\e8c7";
}

.cp-huiyuan:before {
  content: "\e8c8";
}

.cp-aliyu:before {
  content: "\e8c9";
}

.cp-jiju:before {
  content: "\e8ca";
}

.cp-jianshao:before {
  content: "\e8cb";
}

.cp-kabao:before {
  content: "\e8cc";
}

.cp-huati:before {
  content: "\e8cd";
}

.cp-guanzhu:before {
  content: "\e8ce";
}

.cp-maiyizengyi:before {
  content: "\e8cf";
}

.cp-mima:before {
  content: "\e8d0";
}

.cp-nan:before {
  content: "\e8d1";
}

.cp-nv:before {
  content: "\e8d2";
}

.cp-lihe:before {
  content: "\e8d3";
}

.cp-paihangbang:before {
  content: "\e8d4";
}

.cp-lipinka:before {
  content: "\e8d5";
}

.cp-pengyouquan:before {
  content: "\e8d6";
}

.cp-mingxinghuodong:before {
  content: "\e8d7";
}

